@layer components {
    .wizard-step {
      @apply flex items-center justify-center w-8 h-8 rounded-full border-2;
    }
    
    .wizard-step-active {
      @apply border-primary bg-primary text-primary-content;
    }
    
    .wizard-step-completed {
      @apply border-success bg-success text-success-content;
    }

    .wizard-step-enter {
        opacity: 0;
        transform: translateX(100%);
      }
    
      .wizard-step-enter-active {
        opacity: 1;
        transform: translateX(0%);
        transition: opacity 300ms, transform 300ms;
      }
    
      .wizard-step-exit {
        opacity: 1;
        transform: translateX(0%);
      }
    
      .wizard-step-exit-active {
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 300ms, transform 300ms;
      }
  }